<div class="repository-info">
  <% if repository.checkout_description.present? %>
  <div class="wiki<%= ' bottomline' if protocols.present? %>"><%= textilizable repository.checkout_description %></div>
  <% end %>
  <% if protocols.present? %>
  <div id="checkout_box">
    <ul id="checkout_protocols">
    <% protocols.each do |p| -%>
      <li>
        <a class="<%= (p == default_protocol) ? 'selected' : '' %>" id="protocol_<%= p.protocol.to_s.underscore %>" data-permission="<%= p.access_rw(User.current) %>" href="<%= Addressable::URI.escape p.url(checkout_path) %>"><%=h p.protocol %></a>
      </li>
    <% end -%>
    </ul>
    <%= text_field_tag :checkout_url, h(default_protocol.full_command(checkout_path)), :readonly => true %>
    <% if default_protocol -%>
      <p><%= raw l :label_access_type, :type => raw("<span id=\"access\">#{l(default_protocol.access_label(User.current))}</span>") %></p>
    <%- end -%>

    <%= javascript_tag do -%>
      var access   = {<%= protocols.inject([]){|r,p| r << "'protocol_#{p.protocol.to_s.underscore}': '#{l(p.access_label(User.current))}'"}.join(', ').html_safe %>};
      var commands = {<%= protocols.inject([]){|r,p| r << "'protocol_#{p.protocol.to_s.underscore}': '#{escape_javascript(p.full_command(checkout_path))}'"}.join(', ').html_safe %>};
    <% end %>
  </div>
  <% end %>
</div>
<div style="clear: left"></div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'checkout', :plugin => 'redmine_checkout' %>
  <%= javascript_include_tag 'checkout', :plugin => 'redmine_checkout' %>
<% end %>
